.App {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
}

.about {
  width: 30%;
  float: left;
  text-align: center;
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 10px;
}

.details {
  width: 68%;
  float: left;
  padding-left: 1%;
  margin-left: 1%;
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 10px;
}

img {
  width: 40%;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid rgb(104, 101, 101);
}

span {
  font-size: 2em;
  margin-left: 5px;
}

a {
  font-size: 2.2em;
  color: black;
  text-decoration: none;
}

.attr {
  list-style: none;
  margin-left: none;
}
